---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Root.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":"1dbca289fd41b54838bcbb501","account_name":"InSite Arts","contact":{"company":"InSite
        Arts","addr1":"300 Durbett Road","addr2":"London","city":"London","state":"","zip":"E14
        0QD","country":"GB"},"last_login":"2015-06-27 14:45:42","total_subscribers":2,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Root.json"},{"rel":"lists","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"reports","href":"https://us11.api.mailchimp.com/3.0/reports","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Reports/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Reports.json"},{"rel":"conversations","href":"https://us11.api.mailchimp.com/3.0/conversations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Conversations/Collection.json"},{"rel":"campaigns","href":"https://us11.api.mailchimp.com/3.0/campaigns","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Campaigns/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Campaigns.json"},{"rel":"automations","href":"https://us11.api.mailchimp.com/3.0/automations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Automations/Collection.json"},{"rel":"templates","href":"https://us11.api.mailchimp.com/3.0/templates","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Templates/Collection.json"},{"rel":"file-manager","href":"https://us11.api.mailchimp.com/3.0/file-manager","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/FileManager/Namespace.json"},{"rel":"authorized-apps","href":"https://us11.api.mailchimp.com/3.0/authorized-apps","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/AuthorizedApps/Collection.json"}]}'
  recorded_at: Sat, 27 Jun 2015 17:40:28 GMT
recorded_with: VCR 2.9.3
