---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey xxxxxxxxxx-us11
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://kb.mailchimp.com/api/error-docs/401-api-key-invalid","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"52d4674f-0b56-4a07-a3a6-fd208651a3a4"}'
  recorded_at: Sun, 28 Jun 2015 05:30:45 GMT
recorded_with: VCR 2.9.3
