---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey xxxxxxxxxx-us11
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://kb.mailchimp.com/api/error-docs/401-api-key-invalid","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"52d4674f-0b56-4a07-a3a6-fd208651a3a4"}'
  recorded_at: Sun, 28 Jun 2015 05:30:45 GMT
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey xxxxxxxxxx-us11
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://us11.api.mailchimp.com/3.0/
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://us11.api.mailchimp.com/3.0/">here</a>.</p>
        </body></html>
  recorded_at: Tue, 30 Jun 2015 14:17:12 GMT
- request:
    method: get
    uri: http://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey xxxxxxxxxx-us11
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://kb.mailchimp.com/api/error-docs/401-api-key-invalid","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"33ec1773-4aef-4969-b8db-7d384e65ed2e"}'
  recorded_at: Tue, 30 Jun 2015 14:17:12 GMT
[...]
- request:
    method: get
    uri: http://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Root.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":"1dbca289fd41b54838bcbb501","account_name":"InSite Arts","contact":{"company":"InSite
        Arts","addr1":"300 Burdett Road","addr2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB"},"last_login":"2015-06-27 14:45:42","total_subscribers":2,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Root.json"},{"rel":"lists","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"reports","href":"https://us11.api.mailchimp.com/3.0/reports","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Reports/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Reports.json"},{"rel":"conversations","href":"https://us11.api.mailchimp.com/3.0/conversations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Conversations/Collection.json"},{"rel":"campaigns","href":"https://us11.api.mailchimp.com/3.0/campaigns","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Campaigns/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Campaigns.json"},{"rel":"automations","href":"https://us11.api.mailchimp.com/3.0/automations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Automations/Collection.json"},{"rel":"templates","href":"https://us11.api.mailchimp.com/3.0/templates","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Templates/Collection.json"},{"rel":"file-manager","href":"https://us11.api.mailchimp.com/3.0/file-manager","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/FileManager/Namespace.json"},{"rel":"authorized-apps","href":"https://us11.api.mailchimp.com/3.0/authorized-apps","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/AuthorizedApps/Collection.json"}]}'
  recorded_at: Tue, 30 Jun 2015 14:30:23 GMT
recorded_with: VCR 2.9.3
