---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists?count=500&exclude_fields=lists._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"e73f5910ca","name":"My first list","contact":{"company":"InSite
        Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB","phone":"07917153555"},"permission_reminder":"Opt-in only","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@sayers.cc","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2015-06-27T14:49:18+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/brGTO9","subscribe_url_long":"http://insitearts.us11.list-manage1.com/subscribe?u=1dbca289fd41b54838bcbb501&id=e73f5910ca","beamer_address":"us11-6692a2b3c3-bcd2a8b144@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":3,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":3,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2016-08-04T14:56:19+00:00","last_unsub_date":""}},{"id":"71937ea346","name":"My
        second list","contact":{"company":"InSite Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"Select
        One","zip":"E14 7DQ","country":"GB","phone":"02075372125"},"permission_reminder":"Test
        list for Xenapto testing","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@insitearts.com","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories?count=500&exclude_fields=categories._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"list_id":"e73f5910ca","categories":[{"list_id":"e73f5910ca","id":"f349987e8f","title":"Sex","display_order":0,"type":"radio"},{"list_id":"e73f5910ca","id":"7b24b8a11a","title":"Days","display_order":1,"type":"checkboxes"}],"total_items":2}'
  recorded_at: Thu, 04 Aug 2016 15:10:19 GMT
- request:
    method: post
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories
    body:
      encoding: UTF-8
      string: '{"title":"Days","type":"checkboxes"}'
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Instance.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"list_id":"e73f5910ca","id":"e5b49d3b2a","title":"Days","display_order":1,"type":"checkboxes","_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/InterestCategories.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a","method":"PATCH","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Instance.json","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Instance.json"},{"rel":"delete","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a","method":"DELETE"},{"rel":"interests","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Interests.json"}]}'
  recorded_at: Thu, 04 Aug 2016 15:11:02 GMT
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests?count=500&exclude_fields=interests._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"interests":[],"list_id":"e73f5910ca","category_id":"e5b49d3b2a","total_items":0}'
  recorded_at: Thu, 04 Aug 2016 15:11:03 GMT
[...]
- request:
    method: post
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests
    body:
      encoding: UTF-8
      string: '{"name":"Monday"}'
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Instance.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"category_id":"e5b49d3b2a","list_id":"e73f5910ca","id":"242ed4aa50","name":"Monday","subscriber_count":"0","display_order":1,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests/242ed4aa50","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Interests.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests/242ed4aa50","method":"PATCH","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Instance.json","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Instance.json"},{"rel":"delete","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests/242ed4aa50","method":"DELETE"}]}'
  recorded_at: Thu, 04 Aug 2016 15:11:03 GMT
[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/e5b49d3b2a/interests?count=500&exclude_fields=interests._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"interests":[{"category_id":"e5b49d3b2a","list_id":"e73f5910ca","id":"242ed4aa50","name":"Monday","subscriber_count":"0","display_order":1},{"category_id":"e5b49d3b2a","list_id":"e73f5910ca","id":"fc79f56941","name":"Tuesday","subscriber_count":"0","display_order":2}],"list_id":"e73f5910ca","category_id":"e5b49d3b2a","total_items":2}'
  recorded_at: Thu, 04 Aug 2016 15:11:04 GMT
recorded_with: VCR 3.0.3
