---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Root.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":"1dbca289fd41b54838bcbb501","account_name":"InSite Arts","contact":{"company":"InSite
        Arts","addr1":"300 Burdett Road","addr2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB"},"last_login":"2015-06-27 14:45:42","total_subscribers":2,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Root.json"},{"rel":"lists","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"reports","href":"https://us11.api.mailchimp.com/3.0/reports","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Reports/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Reports.json"},{"rel":"conversations","href":"https://us11.api.mailchimp.com/3.0/conversations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Conversations/Collection.json"},{"rel":"campaigns","href":"https://us11.api.mailchimp.com/3.0/campaigns","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Campaigns/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Campaigns.json"},{"rel":"automations","href":"https://us11.api.mailchimp.com/3.0/automations","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Automations/Collection.json"},{"rel":"templates","href":"https://us11.api.mailchimp.com/3.0/templates","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Templates/Collection.json"},{"rel":"file-manager","href":"https://us11.api.mailchimp.com/3.0/file-manager","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/FileManager/Namespace.json"},{"rel":"authorized-apps","href":"https://us11.api.mailchimp.com/3.0/authorized-apps","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/AuthorizedApps/Collection.json"}]}'
  recorded_at: Sat, 27 Jun 2015 17:51:01 GMT
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"e73f5910ca","name":"My first list","contact":{"company":"InSite
        Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"262","phone":"07917153555"},"permission_reminder":"Opt-in
        only","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam Sayers","from_email":"sam@sayers.cc","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2015-06-27T14:49:18+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/brGTO9","subscribe_url_long":"http://insitearts.us11.list-manage1.com/subscribe?u=1dbca289fd41b54838bcbb501&id=e73f5910ca","beamer_address":"us11-6692a2b3c3-bcd2a8b144@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":2,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":2,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2015-06-27T14:50:39+00:00","last_unsub_date":""},"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca","method":"PATCH","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/I[...]
