---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"e73f5910ca","name":"My first list","contact":{"company":"InSite
        Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"262","phone":"07917153555"},"permission_reminder":"Opt-in
        only","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam Sayers","from_email":"sam@sayers.cc","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2015-06-27T14:49:18+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/brGTO9","subscribe_url_long":"http://insitearts.us11.list-manage.com/subscribe?u=1dbca289fd41b54838bcbb501&id=e73f5910ca","beamer_address":"us11-6692a2b3c3-bcd2a8b144@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":2,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":2,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2015-06-27T14:50:39+00:00","last_unsub_date":""},"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca","method":"PATCH","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Instance.json"},{"rel":"delete","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca","method":"DELETE"},{"rel":"abuse-reports","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/abuse-reports","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Abuse/Collection.json"},{"rel":"activity","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/activity","method":"GET","targetSchema":"https://us11.api.ma[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"list_id":"e73f5910ca","categories":[{"list_id":"e73f5910ca","id":"2ce011eb68","title":"Colors","display_order":0,"type":"checkboxes","_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/2ce011eb68","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json"},{"rel":"update","href":"https://us11.api.mai[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"members":[{"id":"140b91c107d2058dee730e75be0b1151","email_address":"ann@sayers.cc","unique_email_id":"37a55cdc48","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Ann","LNAME":"Example"},"interests":{"3fbb48c043":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"86.163.13.133","timestamp_opt":"2015-06-27
        14:50:15","member_rating":2,"last_changed":"2015-06-27T14:50:15+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"e73f5910ca","_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/140b91c107d2058dee730e75be0b1151","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json"},{"rel":"update","href":"https://us11.api.mailchimp.com[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - http://us11.api.mailchimp.com/3.0/
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://us11.api.mailchimp.com/3.0/">here</a>.</p>
        </body></html>
  recorded_at: Tue, 30 Jun 2015 18:36:29 GMT
- request:
    method: get
    uri: http://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Root.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":"1dbca289fd41b54838bcbb501","account_name":"InSite Arts","contact":{"company":"InSite
        Arts","addr1":"300 Burdett Road","addr2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB"},"last_login":"2015-06-27 14:45:42","total_subscribers":2,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Root.json"},{"rel":"lists","href":"https://us11.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json"},{"rel":"reports","href":"https://us11.api.mailchimp.com/3.0/reports","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Reports/Collection.json","schema":"https[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/2ce011eb68/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey df8658fb18403e29ef4a8437a8eb3705-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"interests":[{"category_id":"2ce011eb68","list_id":"e73f5910ca","id":"3fbb48c043","name":"red","display_order":1,"_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/2ce011eb68/interests/3fbb48c043","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Interests/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/interest-categories/2ce011eb68/interests","method":"GET","targetSchema":"https://us11.api.mailchi[...]
[...]
- request:
    method: get
    uri: http://us11.api.mailchimp.com/3.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey xxxxxxxxxx-us11
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://kb.mailchimp.com/api/error-docs/401-api-key-invalid","title":"API
        Key Invalid","status":401,"detail":"Your API key may be invalid, or you''ve
        attempted to access the wrong datacenter.","instance":"72a7641a-854f-488c-9f01-ec6e77fc8083"}'
  recorded_at: Tue, 30 Jun 2015 18:36:30 GMT
recorded_with: VCR 2.9.3
