---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists?count=500&exclude_fields=lists._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"e73f5910ca","name":"My first list","contact":{"company":"InSite
        Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB","phone":"07917153555"},"permission_reminder":"Opt-in only","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@sayers.cc","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2015-06-27T14:49:18+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/brGTO9","subscribe_url_long":"http://insitearts.us11.list-manage1.com/subscribe?u=1dbca289fd41b54838bcbb501&id=e73f5910ca","beamer_address":"us11-6692a2b3c3-bcd2a8b144@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":3,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":3,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2015-07-11T12:41:38+00:00","last_unsub_date":""}},{"id":"71937ea346","name":"My
        second list","contact":{"company":"InSite Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"Select
        One","zip":"E14 7DQ","country":"GB","phone":"02075372125"},"permission_reminder":"Test
        list for Xenapto testing","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@insitearts.com","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date[...]
[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/a4598b5a35/members?count=10&exclude_fields=members._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"members":[{"id":"f2b1659ef11eaad1c6f5550e758cf3e8","email_address":"administrator@xenapto.com","unique_email_id":"d49ce42876","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Xenapto","LNAME":"Administrator","MMERGE3":"","MMERGE4":"","MMERGE5":"","MMERGE6":"2","MMERGE7":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"2016-08-04T14:36:57+00:00","ip_opt":"86.134.195.19","timestamp_opt":"2015-11-03T14:19:13+00:00","member_rating":2,"last_changed":"2016-08-04T14:36:57+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"a4598b5a35"},{"id":"8a5072384679d1ed9b102ba569544247","email_address":"dominic@sayers.cc","unique_email_id":"e97ef944ff","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Dominic","LNAME":"Sayers","MMERGE3":"","MMERGE4":"","MMERGE5":"","MMERGE6":"2","MMERGE7":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"2016-08-04T14:36:57+00:00","ip_opt":"86.134.195.19","timestamp_opt":"2015-11-03T14:19:13+00:00","member_rating":2,"last_changed":"2016-0[...]
[...]
