---
http_interactions:
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists?count=500&exclude_fields=lists._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"e73f5910ca","name":"My first list","contact":{"company":"InSite
        Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"","zip":"E14
        7DQ","country":"GB","phone":"07917153555"},"permission_reminder":"Opt-in only","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@sayers.cc","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2015-06-27T14:49:18+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/brGTO9","subscribe_url_long":"http://insitearts.us11.list-manage.com/subscribe?u=1dbca289fd41b54838bcbb501&id=e73f5910ca","beamer_address":"us11-6692a2b3c3-bcd2a8b144@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":2,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":3,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2015-06-27T14:50:39+00:00","last_unsub_date":""}},{"id":"71937ea346","name":"My
        second list","contact":{"company":"InSite Arts","address1":"300 Burdett Road","address2":"London","city":"London","state":"Select
        One","zip":"E14 7DQ","country":"GB","phone":"02075372125"},"permission_reminder":"Test
        list for Xenapto testing","use_archive_bar":true,"campaign_defaults":{"from_name":"Sam
        Sayers","from_email":"sam@insitearts.com","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date[...]
[...]
- request:
    method: get
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members?count=500&exclude_fields=members._links,_links&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"members":[{"id":"140b91c107d2058dee730e75be0b1151","email_address":"ann@sayers.cc","unique_email_id":"37a55cdc48","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Ann","LNAME":"Example"},"interests":{"4e52548ea0":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"86.163.13.133","timestamp_opt":"2015-06-27T14:50:15+00:00","member_rating":2,"last_changed":"2015-07-07T12:05:57+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"e73f5910ca"},{"id":"a81216d35b4cbfa18632867228be02da","email_address":"bob@sayers.cc","unique_email_id":"3f73c23e26","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Bob","LNAME":"Example"},"interests":{"4e52548ea0":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"86.163.13.133","timestamp_opt":"2015-06-27T14:50:39+00:00","member_rating":2,"last_changed":"2015-06-27T14:50:39+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"e73f5910ca"}],"list_id":"e73f5910ca","total_items":2}'
  recorded_at: Thu, 04 Aug 2016 14:43:53 GMT
[...]
- request:
    method: post
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members
    body:
      encoding: UTF-8
      string: '{"merge_fields":{"FNAME":"Cat","LNAME":"Sayers"},"email_address":"cat@sayers.cc","status":"subscribed"}'
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us11.admin.mailchimp.com/lists/members/view?id=66329425>; rel="dashboard"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b84d50ba2a40fdbca8e2771b9a5b94fb","email_address":"cat@sayers.cc","unique_email_id":"223c7a01d2","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Cat","LNAME":"Sayers"},"interests":{"4e52548ea0":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"85.92.193.106","timestamp_opt":"2016-08-04T14:43:53+00:00","member_rating":2,"last_changed":"2016-08-04T14:43:53+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"e73f5910ca","_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb","method":"PATCH","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"upsert","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb","method":"PUT","schema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json"},{"rel":"delete","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb","method":"DELETE"},{"rel":"activity","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb/activity","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Activity/Collection.json"},{"rel":"goals","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb/goals","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Goals/Collection.json"},{"rel":"notes","href":"https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb/notes","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Notes/Collection.json"}]}'
  recorded_at: Thu, 04 Aug 2016 14:43:53 GMT
[...]
- request:
    method: post
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members
    body:
      encoding: UTF-8
      string: '{"merge_fields":{"FNAME":"Cat","LNAME":"Sayers"},"email_address":"cat@sayers.cc","status":"subscribed"}'
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us11.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Member
        Exists","status":400,"detail":" is already a list member. Use PUT to insert
        or update list members.","instance":""}'
  recorded_at: Thu, 04 Aug 2016 14:43:54 GMT
[...]
- request:
    method: delete
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/b84d50ba2a40fdbca8e2771b9a5b94fb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 04 Aug 2016 14:43:55 GMT
[...]
- request:
    method: delete
    uri: https://us11.api.mailchimp.com/3.0/lists/e73f5910ca/members/f13a19513506757bac3b57e4c01a68fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 4e17ffe30d01da94c1615c4b587b3732-us11
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 04 Aug 2016 14:43:56 GMT
recorded_with: VCR 3.0.3
